USE [master]
GO
/****** Object:  Database [Sistem za prijavu putovanja]    Script Date: 17-Feb-25 19:42:31 ******/
CREATE DATABASE [Sistem za prijavu putovanja]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sistem za prijavu putovanja', FILENAME = N'C:\Users\vukpe\Sistem za prijavu putovanja.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sistem za prijavu putovanja_log', FILENAME = N'C:\Users\vukpe\Sistem za prijavu putovanja_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sistem za prijavu putovanja].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sistem za prijavu putovanja]
GO
/****** Object:  Table [dbo].[DrzavaEU]    Script Date: 17-Feb-25 19:42:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrzavaEU](
	[naziv] [nvarchar](50) NOT NULL,
	[kod] [char](2) NOT NULL,
 CONSTRAINT [PK_Drzava] PRIMARY KEY CLUSTERED 
(
	[naziv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 17-Feb-25 19:42:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[jmbg] [char](13) NOT NULL,
	[brojPasosa] [char](9) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prijava]    Script Date: 17-Feb-25 19:42:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prijava](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[jmbg] [char](13) NOT NULL,
	[brojPasosa] [char](9) NOT NULL,
	[datumUlaska] [date] NOT NULL,
	[datumIzlaska] [date] NOT NULL,
	[nacinPrevoza] [nvarchar](50) NOT NULL,
	[trebaPlatiti] [bit] NOT NULL,
 CONSTRAINT [PK_Prijava] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrijavaDrzavaEU]    Script Date: 17-Feb-25 19:42:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrijavaDrzavaEU](
	[prijava] [bigint] NOT NULL,
	[drzavaEU] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PrijavaDrzavaEU] PRIMARY KEY CLUSTERED 
(
	[prijava] ASC,
	[drzavaEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DrzavaEU] ([naziv], [kod]) VALUES (N'Аустрија', N'AT')
INSERT [dbo].[DrzavaEU] ([naziv], [kod]) VALUES (N'Белгија', N'BE')
INSERT [dbo].[DrzavaEU] ([naziv], [kod]) VALUES (N'Бугарска', N'BG')
GO
INSERT [dbo].[Korisnik] ([username], [password], [email], [jmbg], [brojPasosa], [ime], [prezime]) VALUES (N'desa', N'desa', N'desa@gmail.com', N'1009943996508', N'406531063', N'ДЕСАНКА', N'МАРКОВИЋ')
INSERT [dbo].[Korisnik] ([username], [password], [email], [jmbg], [brojPasosa], [ime], [prezime]) VALUES (N'test', N'test', N'test@test.com', N'0101001000000', N'000000000', N'ТЕСТ', N'ТЕСТ')
INSERT [dbo].[Korisnik] ([username], [password], [email], [jmbg], [brojPasosa], [ime], [prezime]) VALUES (N'vukperovic02', N'sifrasifra123', N'vukperovic02@gmail.com', N'1511002731005', N'031414230', N'ВУК', N'ПЕРОВИЋ')
GO
SET IDENTITY_INSERT [dbo].[Prijava] ON 

INSERT [dbo].[Prijava] ([id], [ime], [prezime], [jmbg], [brojPasosa], [datumUlaska], [datumIzlaska], [nacinPrevoza], [trebaPlatiti]) VALUES (70011, N'ТЕСТ', N'ТЕСТ', N'0101001000000', N'000000000', CAST(N'2025-02-20' AS Date), CAST(N'2025-02-20' AS Date), N'PUTNICKI_AUTOMOBIL', 1)
INSERT [dbo].[Prijava] ([id], [ime], [prezime], [jmbg], [brojPasosa], [datumUlaska], [datumIzlaska], [nacinPrevoza], [trebaPlatiti]) VALUES (70012, N'ДЕСАНКА', N'МАРКОВИЋ', N'1009943996508', N'406531063', CAST(N'2025-02-20' AS Date), CAST(N'2025-02-28' AS Date), N'PUTNICKI_AUTOMOBIL', 0)
SET IDENTITY_INSERT [dbo].[Prijava] OFF
GO
INSERT [dbo].[PrijavaDrzavaEU] ([prijava], [drzavaEU]) VALUES (70011, N'Аустрија')
INSERT [dbo].[PrijavaDrzavaEU] ([prijava], [drzavaEU]) VALUES (70011, N'Белгија')
INSERT [dbo].[PrijavaDrzavaEU] ([prijava], [drzavaEU]) VALUES (70011, N'Бугарска')
GO
USE [master]
GO
